################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Csharp/v16/Server/sqlite3
/.vs/Csharp/v16
/.vs/slnx.sqlite
/.vs
